on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

name: Project CI on ECR

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: executing remote ssh commands using ssh key
      uses: appleboy/ssh-action@master
      with:
        host: 159.65.50.173
        username: root
        key: -----BEGIN RSA PRIVATE KEY-----
            MIIEpQIBAAKCAQEA97yzcQq6a5OYM4CQNFNs6buUOioNK4rk8l51mnzX886NOdC2
            G6kjcbG0a4D193kAkjT1stWjIJMBeheBoJkVQx/bgXxh3piDnB/cBDVtcKjLCYA8
            02HyabLaiCP9U8iChiCcYMZMUPfd6sQaRuPzHpCTKVWzDoqJwfOnroYsSHN0U+jq
            7VB85Tq4djiMjTgqlkQxCpGl1T4a22IF0OPMcnjq6/VAB2UmqH/wdlEVVC1snApR
            ogDU3JLZy/304I/fPgGUj++MqEnpyIGcBoaKFws2GrotLpsmAbWhLZAW7F9+S3Lj
            CRyTn8HSwUWC9MWuZf5/p4wuQE6ckkq47dEFaQIDAQABAoIBAHkYiVIxX0ykedp6
            9oJNYUijQ2JnGcb1/tGmcLASZHEtvwTKy6mbtNKnfbyq7hCI2kmdj5haK4IJucgX
            Y2rASY9lLCQQS7rGLFcNj7uS7isKpyy+vXzKPPeD0KSJixQASCUOHcKES9usPZK7
            RujuFfIT04t586ug9pOS6Z06wryqlLfELzXXr3Qq31PmzLoKi4XtmOCWHHddr9mp
            5lRHejpYSkjlRpTNivS8TxpEwOKDUdBIP57OSb8urKBbvKyrMUhYFW5/AFrFUC0a
            xkGymlyzGOoUKsBXJpivfQ9PmbxgkKLvDq25VQ7Fh/nsC1jP5JNNKj0zI9yVl5AD
            uI4/in0CgYEA+9Z09iqKj/mIneV3wUurcSTuo2sv27b44Adce+XxtK1o9SqygWDf
            2teQH3gdKG9sRXwZUut4wdugmmhtawnVeG6vdx1MYzLH0gp4bx6J4nofD6/jn29J
            vvhZ9BsHmKwhRIjF8cA803knFb0YKecel3msETNy+Zuelh0Npaug028CgYEA+9Tk
            44YCKUWYQ5o0q5JtVIiGHBLEk7nVxiMUxzOIJg8/wjfCNaG3igSVCXZsq4n209fR
            3J8yoqB48Rs1djeNIapJTW5BMsM951wipAMcQnsuAEolLE5MYm1Jwv54R02gQyVt
            DjTvjRHg3ySzjxVYqxBEzVKk3k7VeJmrIFUeaKcCgYEAtoj08dBX6o9FlJzUNkiw
            lSvdxJlWcPyoW0k6oZtDnF/sqXcvN1OOLcL89bJMABjy81JF0LJYLrsQJ5r1ZBYW
            olon2EBmM6iE6Rspu/D4pC08AlTMua0iWMcN/D7zPJfW7SPtxZI/BFDWIY2TzBt3
            Mve/3h/agE1pnwij8ab6xQUCgYEAgYSq+8GuVt+uQgaLVDqI9FMK9mFIrNmE8tSU
            GSeNvFVXa2IWBlNX/CoDJMy9czQPuEBldNyDxFRYH1jpFBXaBhh4ftRXv+3eZqFi
            R4w5+o8zx35axAC5FF40847A+ZsY86/J+OaM1bb+OoW7u7k00zYYzKjWlmdhLxeJ
            haWBcD0CgYEA8YHmxMh/O9soEpfKtyQcnQhqUOnboUaElYC2uKTwK3H1K9HBtEuC
            JaYM7fPuLlikJGXjnLZHXz13/lUAHpwkERkvuygsG2Ux5+ynyPiqnyDp/OirY6Hx
            Rd22VkXGvOtSgf6wqbXMXvTWwOyhD/zp6U+p8IQ0vP8dTPvfYepYjtI=
            -----END RSA PRIVATE KEY-----
        port: 22
        script: /docker/deploy.sh